body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.timer {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
}

body {
    background-color: yellow;
}

#main {
    display: flex;
    margin: 8% 10%;
}

#box {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 60px;
    margin: 20px;
}

.pa {
    margin: 10px;
}

input {
    padding: 10px;
    font-size: 20px;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(22, 39, 33);
    color: white;
}

.timer {
    background: #744821;
    height: 13vh;
    width: 25vw;
    color: white;
    font-size: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 2%;
}
